* {
    margin: 0;
    padding: 0;
}

#principal {
    width: 80vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 50px;
}
nav{
    background-color: gold;
    height: 100vh;
    width: 20%;
    text-align: left;
    line-height: 70px;
}
section{
    background-color: red;
    width: 80%;
    height: 100%;
    margin-top: -100vh;
    float: right;
    text-align: center;
}