a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 20px;
}
nav{
    font-size: 40px;
    text-align: center;
    padding-top: 12px;
}
footer p{
    font-size: 20px;
    text-align: right;
    margin-right: 35px;
    padding-top: 35px;
}