.cima{
    background-color: black;
}
.baixo{
    background-color: black;
}
.tm2{
   
    width: 4.5%;
}

.tm4{
    background-color: brown;
    width: 30.33333334%;
}
.tm5{
    background-color: orangered;
    width: 30.333333333%;
}
.tm6{
    background-color: yellow;
    width: 30.333333333%;
}

.tm8{
    background-color: green;
    width: 15.16666667%;
}
.tm9{
    background-color: purple;
    width: 30.33333333%;
}
.tm10{
    background-color: pink;
    width: 30.33333333%;
}
.tm11{
    background-color: lightgreen;
    width: 15.16666667%;
}